<!-- page/singin.html -->
{% extends 'common/base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'singin.css' %}" />

{% for message in messages %}
<div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %}

<div class="card">
  <div id="card-header">Sign in</div>
  <div class="card-body">
    <form method="POST" id="singin_form">
      {% csrf_token %}
      <div id="loginBox">
        <div class="login_content">
          <label for="username" class="form-label">아이디</label>
          <div>
            <input
              type="text"
              name="username"
              class="form-control"
              id="username"
            />
          </div>
        </div>
        <div class="login_content">
          <label for="password" class="form-label">비밀번호</label>
          <div>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
            />
          </div>
        </div>
      </div>

      <div id="card_footer">
        <a href="{% url 'singup' %}" id="joinBtn">회원가입</a>
        <button id="loginBtn">로그인</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

<script>
  let singin_btn = document.getElementById("loginBtn");
  let username = document.getElementById("username");
  let password = document.getElementById("password");
  let singin_form = document.getElementById("singin_form");

  singin_btn.addEventListener("click", () => {
    if (!username.value) {
      alert("아이디를 입력해주세요 !");
      return false;
    }
    if (!password.value) {
      alert("비밀번호를 입력해주세요 !");
      return false;
    }
    singin_form.submit();
  });
</script>
