<!-- page/singin.html -->
{% extends 'common/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'singup.css' %}" />

<div class="card">
  <div id="card-header">Sign up</div>
  <div class="card-body">
    <div id="singupBox">
      <div class="singup_content">
        <label for="inputId" class="form-label">아이디</label>
        <div>
          <input type="text" class="form-control" id="inputId" />
        </div>
      </div>
      <div class="singup_content">
        <label for="inputPw" class="form-label">비밀번호</label>
        <div>
          <input type="password" class="form-control" id="inputPassword" />
        </div>
      </div>
      <div class="singup_content">
        <label for="inputPw2" class="form-label">비밀번호 확인</label>
        <div>
          <input type="password" class="form-control" id="inputPassword2" />
        </div>
      </div>
      <div class="singup_content">
        <label for="inputNickName" class="form-label">닉네임</label>
        <div>
          <input type="text" class="form-control" id="inputNickName" />
        </div>
      </div>
    </div>
    <div id="card_footer">
      <button>로그인</button>
    </div>
  </div>
</div>
{% endblock %}
