@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.card {
  font-family: "SUITE-Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#card-header {
  margin-top: 10px;
  font-size: 32px;
  font-weight: bold;
}

.login_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 10px;
}

label {
  margin-right: 20px;
  margin-top: 7px;
}

#card_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  gap: 10px;
}

#loginBtn {
  border-style: none;
  background-color: #fad4ae;
  border-radius: 10px;
  width: 90px;
  height: 40px;
  font-weight: bold;
}

#joinBtn {
  text-decoration: none;
  border-style: none;
  background-color: #d9f1f1;
  color: black;
  border-radius: 10px;
  width: 90px;
  height: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
